.content {
  .field {
    padding: 5px;
  }
}

.task-detail {
  .button {
    &.completed {
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

    &.submit {
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}